/* body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.external-login {
    max-width: 2.5em;
}

/* .margin-top {
    margin-top: 15px;
} */

.wrapped-in-circle {
    border-radius: 5em;
    width: 3em;
    height: 3em;
    margin: 0 auto;
    background-color: #f8f9fa;
    border: 5px solid #e6e6e6;
}