body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*
img {
    max-width: 20em;
}


#main, #main-s, #main-ss {
    display: flex;
    align-items: center;
    text-align: center;
}

#main{
    flex-direction: column;
}

#main-ss {
    flex-direction: column;
    background-color: rgb(230, 240, 240);

    padding: 20px;
    border-radius: 50px;
}

.submit {
    margin-top: 15px;
}

#code {
    max-width: 120px;
    font-size: 2em;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */